<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet" />
    <style>
      * {
        font-family: "Outfit", sans-serif;
      }
    </style>
  </head>

  <body>
    <div style="width: 100%; border: 1px solid #000">
      <table
        style="
          width: 100%;
          border: 1px solid #000;
          border-bottom: 0px;
          border-spacing: 0px;
        ">
        <tr>
          <td style="border-bottom: 1px solid #000; padding: 7px" colspan="2">
            <h4
              style="
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;
                margin: 0px;
                text-align: center;
              ">
              <%=Estimation%>
            </h4>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 22%;
              text-align: center;
              border-right: 1px solid #000;
            ">
            <img src="<%=company?.logo%>" alt="" style="width: 150px" />
          </td>
          <td>
            <p
              style="
                font-size: 18px;
                font-weight: 700;
                text-align: left;
                text-transform: capitalize;
                border-bottom: 1px solid #000000;
                padding: 8px 0px 8px 8px;
                margin: 0px;
              ">
              <%=company?.name%>
            </p>
            <div style="padding: 9px">
              <p
                style="
                  margin: 0px;
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 7px;
                ">
                Mobile No:
                <span
                  style="
                    font-size: 17px;
                    font-weight: 600;
                    color: 000000;
                    margin-left: 10px;
                    color: #000;
                  ">
                  <%=company?.phoneNumber%>
                </span>
              </p>
              <p
                style="
                  margin: 0px;
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 7px;
                ">
                Email:
                <span
                  style="
                    font-size: 17px;
                    font-weight: 600;
                    color: 000000;
                    margin-left: 10px;
                    color: #000;
                  ">
                  <%=company?.email%></span
                >
              </p>
              <p
                style="
                  margin: 0px;
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 7px;
                ">
                GSTIN:
                <span
                  style="
                    font-size: 17px;
                    font-weight: 600;
                    color: 000000;
                    margin-left: 10px;
                    color: #000;
                  "
                  ><%=company?.gstNo%></span
                >
              </p>
              <p
                style="
                  margin: 0px;
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 7px;
                ">
                PAN No.:
                <span
                  style="
                    font-size: 17px;
                    font-weight: 600;
                    color: 000000;
                    margin-left: 10px;
                    color: #000;
                  "
                  ><%=company?.pancard%></span
                >
              </p>
              <p
                style="
                  margin: 0px;
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 7px;
                ">
                Address:
                <span
                  style="
                    font-size: 17px;
                    font-weight: 600;
                    color: 000000;
                    margin-left: 10px;
                    color: #000;
                  "
                  ><%=company?.address%></span
                >
              </p>
            </div>
          </td>
        </tr>
      </table>
      <table style="width: 100%; border: 1px solid #000; border-spacing: 0">
        <tr>
          <td
            style="
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
              ">
              Order No:
            </p>
          </td>
          <td
            colspan="3"
            style="
              font-size: 17px;
              font-weight: 500;
              color: 000000;
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            <%=invoiceNo%>
          </td>
          <td
            style="
              font-size: 17px;
              font-weight: normal;
              color: #000;
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            Order Date:
          </td>
          <td
            style="
              font-size: 17px;
              font-weight: 500;
              color: 000000;
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            <%=invoiceDate%>
          </td>
          <td
            style="
              font-size: 17px;
              font-weight: normal;
              color: #000;
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            Due Date:
          </td>
          <td
            style="
              font-size: 17px;
              font-weight: 500;
              color: 000000;
              padding: 5px;
              border-bottom: 1px solid #000;
            ">
            <%=dueDate%>
          </td>
        </tr>
        <tr>
          <td
            style="
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
              ">
              Transport:
            </p>
          </td>
          <td
            colspan="3"
            style="
              font-size: 17px;
              font-weight: 500;
              color: 000000;
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            <%=transport?.name%>
          </td>
          <td
            style="
              font-size: 17px;
              font-weight: normal;
              color: #000;
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            ">
            Warehouse:
          </td>
          <td
            colspan="3"
            style="
              font-size: 17px;
              font-weight: 500;
              color: 000000;
              padding: 5px;
              border-bottom: 1px solid #000;
            ">
            <%=warehouse?.name%>
          </td>
        </tr>
        <tr>
          <td
            style="
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            "
            colspan="2">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
              ">
              Vehicle Number:
              <span style="color: #000; font-weight: 500"><%=vehicleNo%></span>
            </p>
          </td>
          <td
            style="
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            "
            colspan="2">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
              ">
              LR No:
              <span style="color: #000; font-weight: 500"><%=lrNo%></span>
            </p>
          </td>
          <td
            style="
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            "
            colspan="2">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
              ">
              LR Date:
              <span style="color: #000; font-weight: 500"><%=lrDate%></span>
            </p>
          </td>
          <td style="padding: 5px; border-bottom: 1px solid #000" colspan="2">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
              ">
              Transport Mode:
              <span style="color: #000; font-weight: 500"
                ><%=transportMode%></span
              >
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              padding: 5px;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000000;
            "
            colspan="4">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 3px;
              ">
              Trade Name
            </p>
            <h6
              style="
                color: #000;
                margin: 0px;
                font-size: 17px;
                font-weight: 500;
              ">
              <%=billToName%>
            </h6>
          </td>
          <td
            style="
              padding: 5px;
              border-right: 1px solid #000000;
              border-bottom: 1px solid #000;
            "
            colspan="2">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 3px;
              ">
              Mobile No.
            </p>
            <h6
              style="
                color: #000;
                margin: 0px;
                font-size: 17px;
                font-weight: 500;
              ">
              <%=billTo?.phoneNumber%>
            </h6>
          </td>
          <td style="padding: 5px; border-bottom: 1px solid #000" colspan="2">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 3px;
              ">
              Email
            </p>
            <h6
              style="
                color: #000;
                margin: 0px;
                font-size: 17px;
                font-weight: 500;
              ">
              <%=billTo?.email%>
            </h6>
          </td>
        </tr>
        <tr>
          <td
            colspan="4"
            style="
              padding: 5px;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000000;
            ">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 5px;
              ">
              Billing Address
            </p>
            <h6
              style="
                color: #000;
                margin: 0px;
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 5px;
              ">
              <%=billToAddress%> <%=billToPincode%>
              <!-- 1005, JK Bulder, Near SBI Bank, SURAT, GUJARAT 395003 -->
            </h6>
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 5px;
              ">
              GSTIN:
              <span
                style="
                  color: #000;
                  margin: 0px;
                  font-size: 17px;
                  font-weight: 500;
                "
                ><%=billTo.gstNumber%></span
              >
            </p>
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 3px;
              ">
              State:
              <span
                style="
                  color: #000;
                  margin: 0px;
                  font-size: 17px;
                  font-weight: 500;
                ">
                <%=billToStateCode?.id%>-<%=billToState%></span
              >
              <span
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 3px;
                  margin-left: 30px;
                ">
                Country:
                <span
                  style="
                    color: #000;
                    margin: 0px;
                    font-size: 17px;
                    font-weight: 500;
                  "
                  >India</span
                >
              </span>
            </p>
          </td>
          <td colspan="4" style="padding: 5px; border-bottom: 1px solid #000">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 5px;
              ">
              Shipping Address
            </p>
            <h6
              style="
                color: #000;
                margin: 0px;
                font-size: 17px;
                font-weight: 500;
                margin-bottom: 5px;
              ">
              <%=shipToAddress%> <%=shipToPincode%>
              <!-- 1005, JK Bulder, Near SBI Bank, SURAT, GUJARAT 395003 -->
            </h6>
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 5px;
              ">
              GSTIN:
              <span
                style="
                  color: #000;
                  margin: 0px;
                  font-size: 17px;
                  font-weight: 500;
                "
                ><%=shipTo.gstNumber%></span
              >
            </p>
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: normal;
                color: #000;
                margin-bottom: 3px;
              ">
              State:
              <span
                style="
                  color: #000;
                  margin: 0px;
                  font-size: 17px;
                  font-weight: 500;
                ">
                <%=shipToStateCode?.id%>-<%=shipToState%>
              </span>
              <span
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: #000;
                  margin-bottom: 3px;
                  margin-left: 30px;
                ">
                Country:
                <span
                  style="
                    color: #000;
                    margin: 0px;
                    font-size: 17px;
                    font-weight: 500;
                  "
                  >India</span
                >
              </span>
            </p>
          </td>
        </tr>
      </table>
      <table style="width: 100%; border: 1px solid #000; border-spacing: 0px">
        <tr>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              padding: 7px;
              text-align: center;
              text-transform: uppercase;
            ">
            SR.No
          </th>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              padding: 7px;
              text-align: left;
              text-transform: uppercase;
            ">
            Description of Goods
          </th>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              padding: 7px;
              text-align: center;
              text-transform: uppercase;
            ">
            QTY
          </th>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              padding: 7px;
              text-align: center;
              text-transform: uppercase;
            ">
            Rate
          </th>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              padding: 7px;
              text-align: center;
              text-transform: uppercase;
            ">
            Tax
          </th>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              border-right: 1px solid #000;
              padding: 7px;
              text-align: center;
              text-transform: uppercase;
            ">
            Discount(%)
          </th>
          <th
            style="
              font-size: 17px;
              font-weight: 700;
              border-bottom: 1px solid #000;
              padding: 7px;
              text-transform: uppercase;
            ">
            Amount
          </th>
        </tr>
        <tbody>
          <% items.forEach((item, index) => { %>
          <tr>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: center;
              ">
              <%= index + 1 %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: left;
              ">
              <%= item?.name %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: center;
              ">
              <%= item?.qty %> <%= item.uom %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: center;
              ">
              <%= item?.rate %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: center;
              ">
              <%= item?.igstAmount %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: center;
              ">
              <% if (item.discountType === 'FIXED') { %>
              <p><%= item.discount %> %</p>
              <% } else if (item.discountType === 'PERCENTAGE') { %>
              <p><%=item.discountAmount %> ₹</p>
              <% } %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: normal;
                padding: 5px;
                text-align: center;
              ">
              <%= item?.total %>
            </td>
          </tr>
          <% }); %>
          <tr>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: center;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
              "></td>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: right;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
              ">
              Sub Total
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: center;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
              ">
              <%= qtyTotle %>
            </td>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: center;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
              "></td>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: center;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
              "></td>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: center;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
              "></td>
            <td
              style="
                font-size: 16px;
                font-weight: 700;
                padding: 5px;
                text-align: center;
                border-top: 1px solid #000;
              ">
              <%=netAmount%>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="width: 100%; border-top: 1px solid #000">
        <table style="width: 100%; border-spacing: 0px; border: 1px solid #000">
          <tr>
            <td style="border-right: 1px solid #000; width: 51.6%">
              <table style="width: 100%; border-spacing: 0px">
                <tr>
                  <td
                    colspan="2"
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-bottom: 1px solid #000;
                    ">
                    Company Bank Details
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      color: #000;
                      padding: 7px;
                    ">
                    A/C Holder Name:
                  </td>
                  <td style="font-size: 17px; font-weight: 500; padding: 7px">
                    <%=bankAccHolderName%>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      color: #000;
                      padding: 7px;
                    ">
                    Bank Name:
                  </td>
                  <td style="font-size: 17px; font-weight: 500; padding: 7px">
                    <%=bankName%>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      color: #000;
                      padding: 7px;
                    ">
                    A/C No:
                  </td>
                  <td style="font-size: 17px; font-weight: 500; padding: 7px">
                    <%=bankAccNo%>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      color: #000;
                      padding: 7px;
                    ">
                    Branch & IFSC CODE:
                  </td>
                  <td style="font-size: 17px; font-weight: 500; padding: 7px">
                    <%=bankIfsc%>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table style="width: 100%; border-spacing: 0px">
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                    "
                    colspan="2">
                    Taxable Amount
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: right;
                      border-bottom: 1px solid #000;
                    "
                    colspan="2">
                    <%=taxableAmount%>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                    ">
                    Packaging
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: center;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                    ">
                    ₹
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: center;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                    ">
                    +
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                      text-align: right;
                    "></td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                    ">
                    Discount
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                      padding: 5px;
                    ">
                    %
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                      padding: 5px;
                    ">
                    -
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                      text-align: right;
                    ">
                    <%=discountAmount%>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                    ">
                    SGST
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                      padding: 5px;
                    ">
                    ₹
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-bottom: 1px solid #000;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                      padding: 5px;
                    ">
                    +
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-bottom: 1px solid #000;
                      text-align: right;
                    ">
                    <%=sgstAmount%>
                  </td>
                </tr>
                <tr>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      border-right: 1px solid #000;
                    ">
                    CGST
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                      padding: 5px;
                    ">
                    ₹
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      border-right: 1px solid #000;
                      width: 8%;
                      text-align: center;
                      padding: 5px;
                    ">
                    +
                  </td>
                  <td
                    style="
                      font-size: 17px;
                      font-weight: 500;
                      padding: 7px;
                      text-align: left;
                      text-align: right;
                    ">
                    <%=cgstAmount%>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <div style="width: 100%">
        <table
          style="
            width: 100%;
            border-spacing: 0px;
            border: 1px solid #000;
            border-top: 0px;
          ">
          <tr>
            <td
              style="
                width: 51.6%;
                border-right: 1px solid#000;
                padding: 7px;
                padding: 7px;
              ">
              <table style="width: 100%; border-spacing: 0px; border-top: 0px">
                <tr>
                  <td>
                    <p
                      style="
                        font-size: 17px;
                        font-weight: 600;
                        text-align: left;
                        margin: 0px;
                      ">
                      Narration/Note:
                    </p>
                    <span style="font-size: 17px; font-weight: 400">
                      <%=narration%>
                    </span>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table style="width: 100%; border-spacing: 0px; border-top: 0px">
                <tr>
                  <td style="padding: 7px; border-bottom: 1px solid #000">
                    <p
                      style="
                        font-size: 17px;
                        font-weight: 400;
                        text-align: left;
                        margin: 0px;
                      ">
                      Round Off
                    </p>
                  </td>
                  <td style="padding: 7px; border-bottom: 1px solid #000">
                    <p
                      style="
                        font-size: 17px;
                        font-weight: 500;
                        text-align: right;
                        margin: 0px;
                      ">
                      <%=roundOffAmount%>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 7px">
                    <p
                      style="
                        font-size: 17px;
                        font-weight: 400;
                        text-align: left;
                        margin: 0px;
                      ">
                      Total Amount
                    </p>
                  </td>
                  <td style="padding: 7px">
                    <p
                      style="
                        font-size: 20px;
                        font-weight: 800;
                        text-align: right;
                        margin: 0px;
                      ">
                      <%=netAmount%>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <table
        style="
          width: 100%;
          border: 1px solid #000;
          border-spacing: 0;
          border-top: 0px;
        ">
        <tr>
          <td colspan="2" style="border-bottom: 1px solid #000; padding: 7px">
            <p style="font-size: 17px; font-weight: normal; color: #000">
              Invoice Amount in Words:<span
                style="
                  font-size: 17px;
                  font-weight: 600;
                  color: 000000;
                  color: #000;
                  padding-left: 10px;
                ">
                <%=netAmountInWord%>
              </span>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              padding: 7px;
              border-right: 1px solid #000;
              margin-bottom: 5px;
            ">
            <p
              style="
                margin: 0px;
                font-size: 17px;
                font-weight: 600;
                color: 000000;
                margin-bottom: 7px;
              ">
              Terms & Conditions
            </p>
            <ul style="margin: 0px; padding-left: 20px">
              <li
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: 000000;
                  margin-bottom: 5px;
                ">
                Request payment by EOM.
              </li>
              <li
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: 000000;
                  margin-bottom: 5px;
                ">
                A 50% upfront payment is required to begin working on [insert
                name] project.
              </li>
              <li
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: 000000;
                  margin-bottom: 5px;
                ">
                Payment is to be made upon receipt.
              </li>
              <li
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: 000000;
                  margin-bottom: 5px;
                ">
                According to our [insert name] agreement, payment follows a
                Net-7 days cycle.
              </li>
              <li
                style="
                  font-size: 17px;
                  font-weight: normal;
                  color: 000000;
                  margin-bottom: 5px;
                ">
                Please send the payment by 15 MFI.
              </li>
            </ul>
          </td>
          <td style="padding: 7px" colspan="4">
            <p
              style="
                font-size: 17px;
                font-weight: 500;
                color: 000000;
                margin-bottom: 15px;
                text-align: right;
              ">
              <%=company?.name%>.
            </p>
            <div style="text-align: right">
              <!-- <img src="./img/sign.png" alt="" style="width: 150px;"> -->
              <h5
                style="
                  font-size: 25px;
                  font-weight: 700;
                  text-transform: capitalize;
                  margin: 0px;
                  text-align: right;
                ">
                signature
              </h5>
            </div>
            <h6
              style="
                font-size: 17px;
                font-weight: normal;
                color: 000000;
                margin-bottom: 5px;
                text-align: right;
              ">
              Authorized Signatory
            </h6>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
